* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("../img/theme/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: lightgreen;
  font-family: "Open Sans", sans-serif;
}

main {
  margin: 0 auto;
  width: 600px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Amatic SC", cursive;
  font-size: xx-large;
  color: darkslategray;
  background-color: white;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 5px 0px;
}

#time-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#time-left span {
  width: 10px;
}

#time-left img {
  height: 30px;
  padding: 5px;
}

#countdown {
  background-color: #d2b243;
  width: 100px;
  height: 10px;
  border-radius: 0.5em;
}

footer {
  background-color: white;
}

#game {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  border-radius: 10px;
  margin: 5px;
}

button {
  display: flex;
  align-items: center;
  font-family: "Amatic SC", cursive;
  font-size: xx-large;
  color: white;
  background-color: #ac393c;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 5px 0px;
  border: none;
  box-shadow: 5px 5px #6b2e3d;
}

.start-end {
  background-color: white;
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: darkslategray;
}

li {
  background-color: white;
  margin: 20px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px #e27c28;
}

#sights img {
  filter: grayscale(50%);
  border-radius: 5px;
}
