* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("../img/theme/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: lightgreen;
  font-family: "Open Sans", sans-serif;
}

main {
  margin: 0 auto;
  width: 600px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Amatic SC", cursive;
  font-size: xx-large;
  color: darkslategray;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 20px;
  margin: 5px 0px 0px 0px;
}

footer {
  background-color: white;
  padding: 5px 20px;
  margin: 0 auto;
  color: darkslategray;
  font-size: small;
  border-radius: 10px 10px 0px 0px;
  position: fixed;
  bottom: 0;
  width: 560px;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: xx-large;
  color: darkslategray;
  margin: 0px 0px 20px 0px;
}

#time-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#time-left span {
  width: 10px;
}

#time-left img {
  height: 30px;
  padding: 5px;
}

#countdown {
  background-color: #d2b243;
  width: 100px;
  height: 10px;
  border-radius: 0.5em;
}

#game {
  height: 300px;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
}

button {
  display: flex;
  align-items: center;
  font-family: "Amatic SC", cursive;
  font-size: xx-large;
  color: white;
  background-color: #ac393c;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 5px 0px;
  border: none;
  box-shadow: 5px 5px #6b2e3d;
}

.start-end {
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
  height: 300px;
}

#end {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#instructions {
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

p {
  font-size: medium;
  color: darkslategray;
}

#instructions-top {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#instructions-top-images {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 280px;
}

#end-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#end-center > * {
  margin: 10px;
}

#instructions-bottom {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: flex-start;
}

#instructions-button {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  color: darkslategray;
}

li {
  background-color: white;
  margin: 20px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px #a5399d;
}

#sights img {
  filter: grayscale(50%);
  border-radius: 5px;
}

#img-attribution {
  font-size: xx-small;
  text-align: right;
}

#sights {
  padding: 0px 0px 20px 0px;
}
